*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    transition: .4s;
  }

  body.light {
     background: #fff;
  }

  body.light .datetime{
    background: #fff;
    color: #10101E;
 }

 body.light .datetime:hover{
  background: #2E94E3;
  color: #10101E;
}

 body.light .toggleClass {
   background-color: #10101E;
   color: #10101E;
   font-size: 17px;
 }

 body.light .toggleClass:before {
  position: absolute;
  content: '🌑';
  right: 3.13px;
  bottom: 13%;
}
  
  .datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }

:root {
--primary-color: #10101E;
--secondary-color: #fff;
}

.toggleClass {
position: absolute;
top: 30px;
right: 50px;
width: 30px;
height: 30px;
font-size: 20px;
border-radius: 50%;
background-color: #fff;
color: #fff;
font-family: sans-serif;
cursor: pointer;
display: flex;
align-items: center;
transition: .4s;
}

.toggleClass:before {
position: absolute;
content: '☀️';
right: 0.85px;
bottom: 9.5%;
}